<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css" >
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/createHoliday.js"></script>
    <script src="../js/createEmployee.js"></script>

<style>body{background-color: #ffffff
}</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ICON</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="../views/registeruser.html"><h5>Register Employee</h5>
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="../views/declareholiday.html"><h5>Register Holiday</h5></a>
                    <span class="visually-hidden">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="../views/manageshift.html"><h5>Manage Shift</h5></a>
                    <span class="visually-hidden">(current)</span>
                </li>
            </ul>
            <form class="d-flex">

            </form>
        </div>
    </div>
</nav>

<!--Code to Load Information during Page load.-->
<script>
    $(document).ready((function() {

        $.ajax({
            contentType: 'application/json',
            data:{'onload':true},
            type: 'GET',
            url: '/admin/fetch/info',
            success: function(data, response){

                $("#empCount").text(data.empCount);
                $("#deptCount").text(data.deptCount);

                var deptVal = data.deptInfo;
                for (let index = 1; index < 6; index++) {
                    $("#deptInfo").append("<br>"+ "D0" + index + " =>").append(deptVal['D0' + index]);}

                for(var k in data.upcomingHolidays){
                    $("#upcomingHolidays").append("<br>").append(k + " => " + data.upcomingHolidays[k]);
                }
            },
            error: function (response){
                console.log("FAILED");
            }
        });
    })

);
</script>


    <div class = "container">
    <button type="button" class="btn btn-primary breadcrumb-item" style="margin-top: 20px; margin-left: -30px"><a href="/"> Back </a></button>
        <div class="row">
            <div class="col-md-7" style="margin: inherit">
                <img class="img-fluid" src="../assets/images/admin.png" alt="" width = "80%" height = "80%">
            </div>

            <div class="card text-white bg-primary mb-3" style="max-width: 30rem; height:35rem">
                <div class="card-body">
                    <h3 class="card-title" style="margin-inline: 70px">Welcome Admin</h3><br>
                    <h4 class="card-text" > Number of Employees : <span id="empCount"></span></h4>
                    <h4 class="card-text" > Number of Departments : <span id="deptCount"></span></h4>
                    <h4 class="card-text"> Department Info :</h4>
                    <h5 class="card-text" ><span id="deptInfo"></span></h5>
                    <h4 class="card-text"> Upcoming Holidays :</h4>
                    <h5 class="card-text" ><span id="upcomingHolidays"></span></h5>
                </div>
            </div>
            </div>
        </div>

        <div class="modal fade" id="invalid">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="card text-black bg-warning " >
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Warning card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--    <img src="../assets/images/construction-page.png" />-->
</body>
</html>