<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css" >
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/createEmployee.js"></script>

</head>
<body>
<h1 align="center" >USER REGISTRATION FORM</h1>
    <form id="user-registration" action="" method="post">

            <div class = "container" class = "col-md-7">
                <a href="/views/admin.html"> < Go back</a>
                <hr align="center">

                    <div class="form-group">
                        <label for="fname"><b>First Name</b></label>
                        <input type="text" class = "form-control" placeholder="Enter Name" name="firstName" id="fname" required>

                <label class = "mt-3" for="lname"><b>Last Name</b></label>
                <input type="text" class = "form-control" placeholder="Enter Lastname" name="lastName" id="lname" required>

                <label class = "mt-3" for="email"><b>Email</b></label>
                <input type="text" class = "form-control" placeholder="Enter Email" name="email" id="email" required>


                <label class = "mt-3" for="password"><b>Password</b></label>
                <input type="password" class = "form-control" placeholder="Enter Password" name="password" id="password" required>

                <label class = "mt-3" for="phn"><b>Phone Number</b></label>
                <input type="text" class = "form-control" placeholder="Enter Phone Number" name="phn" id="phn" required>

                <label class = "mt-3" for="department"><b>Department ID</b></label>
                <input type="text" class = "form-control" placeholder="Enter Department ID" name="phn" id="department" required>

                <label class = "mt-3" for="roleid"><b>JOB Role ID</b></label>
                <input type="text" class = "form-control" placeholder="Enter job role id" name="phn" id="roleid" required>

                <label class = "mt-3" for="sin"><b>SIN Number</b></label>
                <input type="text" class = "form-control" placeholder="Enter Sin Number" name="phn" id="sin" required>

                <label class = "mt-3" for="j_date"><b>Joining Date</b></label>
                <input type="date" class = "form-control" placeholder="Enter Joining Date" name="phn" id="j_date" required>

                <label class = "mt-3"  for="phn"><b>Job Type</b></label>
                <select id = "jobtype" class = "form-control" name="jobtype">
                    <option value="fulltime">Full Time</option>
                    <option value="parttime">Part Time</option>
                </select>

                <label class = "mt-3" for="hours"><b>Maximum Working hours</b></label>
                <input type="text" class = "form-control" placeholder="Enter Working hours" name="phn" id="hours" required>

                <b>Employee Type</b>

                <label class = "mt-3" class="container">Staff
                    <input type="radio">
                    <span class="radio"></span>
                </label>
                <label class = "mt-3" class="container">Supervisor
                    <input type="radio">
                    <span class="radio"></span>
                </label>
                <label class = "mt-3" for="image"><b>Upload Employee Image</b></label>
                <input type="file" class = "form-control" id="image" name="filename">
                <br>
                <button type="submit" class = "form-control" class="registerbtn">Register User</button>
                <hr>
                </div>
        </div>

    </form>
</body>
</html>