<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supervisor</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" >
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css">

</head>
<body>
    <div class = "container">
        <a href="/"> < Go back</a>
        <div class="row mt-5">
            <h2>Scheduler</h2>
            <form class="col-md-7 custom-form">
                <div class="form-group">
                    <label for="supervisor-date-picker">Select Date:</label>
                    <input type="text" class="form-control" id="supervisor-date-picker" autocomplete="off">
                </div>
                <div class="form-group" id="department-type">
                    <label for="department">Department:</label>
                    <select class="form-control" id="department">
                        <option>Department - 1</option>
                        <option>Department - 2</option>
                        <option>Department - 3</option>
                        <option>Department - 4</option>
                    </select>
                </div>
                <div id="employee-detail">
                    <fieldset class="shift-section">
                        <legend>Add Shift Details</legend>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="start-time-1">Start time</label>
                                <input class="form-control" type="time" id="start-time-1" value="09:00:00">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="end-time-1">End time</label>
                                <input class="form-control" type="time" id="end-time-1" value="18:00:00">
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="employee-type-1">Employee role:</label>
                                <select class="form-control" id="employee-type-1">
                                    <option>Role 1</option>
                                    <option>Role 2</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="employeesCount-1">Number of Employees:</label>
                                <input type="number" class="form-control" id="employeesCount-1">
                            </div>
                        </div>

                        <div class="row" id="dynamic-emp">
                            <i id="add-emp-details" class="fa fa-plus-circle" style="font-size: 20px; cursor: pointer" aria-hidden="true">
                                <span style="font-size: 14px">Add other role</span>
                            </i>
                        </div>

                    </fieldset>

                </div>

                <input type="submit" id="scheduler-submit" class="btn btn-primary" />
            </form>
        </div>
    </div>

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../js/supervisor.js"></script>
</body>
</html>