html, body {
	height: 100%;
}

input.invalid, textarea.invalid{
	border: 2px solid red;
}

#bar{
	display: none;
	background-image: linear-gradient(to right, lawngreen, green 50% ,forestgreen 100%);
	animation-timing-function: linear;
	animation-duration: 3s;
	outline-color: lightseagreen;
}

.custom-form div {
	margin-bottom: 16px;
}
.shift-section {
	padding: 14px;
	border: 1px dashed;
	border-radius: 8px;
}

#employeeTable {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#employeeTable td, #employeeTable th {
	border: 1px solid #ddd;
	padding: 8px;
}

#employeeTable tr:nth-child(even){background-color: #f2f2f2;}

#employeeTable tr:nth-child(odd){background-color: #f2f2f2;}

#employeeTable tr:hover {background-color: #ddd;}

#employeeTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #0415aa;
	color: black;
}